body {
    margin: 0;
    font-family: "Cormorant Garamond", serif;
    background: #faf7f2;
    color: #4a3f35;
    line-height: 1.6;
}

.hero {
    height: 100vh;
    background: linear-gradient(to bottom, #fbeee6, #f4e7dc);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.hero-card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 450px;
    box-shadow: 0 0 25px rgba(0,0,0,0.08);
}

.titulo-principal {
    font-size: 3rem;
    text-align: center;
    margin-top: 60px;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 30px 0;
}

.galeria img {
    width: 100%;
    border-radius: 18px;
}

.btn {
    background: #d9b8a3;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
}

.btn:hover {
    background: #caa28c;
}

.contenido {
    padding: 30px;
}
