html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Cormorant Garamond", serif;
    background: #faf6f2;
    color: #4a3b32;
    text-align: center;
}

/* PORTADA */
.portada {
    height: 100vh;
    background: url("../images/photo1.webp") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HERO */
.hero {
    position: relative;
    height: 100vh;
    background: url("../images/photo2.webp") center/cover no-repeat;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
}

.hero-content {
    position: relative;
    z-index: 2;
    color: white;
    padding-top: 120px;
}

/* SECCIONES */
.section {
    padding: 80px 20px;
}

.bg-photo {
    background-size: cover;
    background-position: center;
}

.photo7 {
    background-image: url("../images/photo7.webp");
}

/* CARD */
.card {
    background: rgba(255,255,255,0.88);
    max-width: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 16px;
}

/* BOTONES */
.btn-principal {
    display: inline-block;
    padding: 12px 22px;
    background: #d9c2a3;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

/* ANIMACIONES */
.animate {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.9s ease;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}
