/* ANIMACIONES */
.animar {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

.animar.visible {
  opacity: 1;
  transform: translateY(0);
}

/* CONTADOR */
.countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.countdown div {
  background: rgba(255,255,255,0.8);
  padding: 14px 18px;
  border-radius: 12px;
  min-width: 80px;
}

.countdown span {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
}
